<!doctype html>
<html>
    <head>
        <title>Is someone at Werkstatt?</title>
    </head>
    <body>
        <h1><%= @someone_there ? "YES" : "nope" %></h1>
        <p><a href="come">I'm here now.</a>   <a href="go">I'm going home.</a></p>

    </body>
</html>        
